.root{
    -fx-background-color: #ffffff;
}

.admin-label{
    -fx-font-size: 25pt; 
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}
.admin-label-background{
    -fx-background-color: #2E6EB6;
}


.sidebar{
    -fx-background-color:#24282E;
}
.textfield-center{
    -fx-alignment: center;
}
.sidebar-textfield{
    -fx-background-color: #43474E;
    -fx-alignment: center;
    -fx-font-size: 14pt;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 20; 
}
.sidebar-button{
    -fx-background-color: transparent;
    -fx-text-align: left;
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: #666668;
}
.sidebar-hbox{
    -fx-background-color:#24282E;
}
.sidebar-hbox:hover{
    -fx-background-color: #141B29;
}
.log-out-label{
    -fx-text-fill: #FF0000;
    -fx-font-size: 15;
}
.log-out-label:hover{
    -fx-text-fill: #FF0000;
    -fx-font-size: 15;
    -fx-background-color: #141B29;
}


.table-choice{
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: #4F535A;
}
.table-choice-selected{
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.table-choice-background{
    -fx-border-color: #4F535A;
    -fx-background-color: #7CADE4;
}
.table-choice-background-selected{
    -fx-border-color: #4F535A;
    -fx-background-color: #0D4485;
}
.table-choice-background:hover{
    -fx-background-color: #0D4485;
    -fx-border-color: black;
}

.table-column{
    -fx-font-size: 15pt;
}

.add-user-topic{
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 35pt;
}
.add-user-topic.label .text{
    -fx-stroke: #2E6EB6;
    -fx-stroke-width: 2px;
    -fx-font-size: 35pt;
}

.add-user-text-field{
    -fx-border-color: #2E6EB6;
    -fx-font-fill: #000000;
}
.add-user-text-field-error{
    -fx-border-color: #FF0000;
    -fx-font-fill: #000000;
}
.add-user-rect{
    -fx-opacity: 0.5;
}
.add-user-background{
    -fx-background-color: linear-gradient(#0D5DB7,#00BB79);
}
.dashboard-background{
    -fx-background-color: linear-gradient(#FFFFFF,#FFFFF9);
}
.chart-topic{
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 10;
}
