
.root{
    -fx-background-color: #ffffff;
}

.university-background{
    -fx-background-color: linear-gradient(to bottom left,#0A60C8,#072F5F);
}
.login-background{
    -fx-background-color: #FFFFFF;
}

.u-name-label{
    -fx-text-fill:#D2D2D3;
    -fx-font-size: 100;
    -fx-font-weight: bold;
}
.university-label{
    -fx-text-fill:#D2D2D3;
    -fx-font-size: 60;
    -fx-font-weight: bold;
}

.topic-label{
    -fx-text-fill:#3E4246;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}
.sign-up-topic{
    -fx-text-fill:#545A60;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.sign-up-label{
    -fx-text-fill:#3E4246;
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

.login-text-field{
    -fx-font-size: 20;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.login-line{
    -fx-font-size: 20;
}
.sign-up-line{
    -fx-font-size: 20;
}

.before-error{
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.after-error{
    -fx-text-fill: #FF0000;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.before-success{
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.after-success{
    -fx-text-fill: #0884EA;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.sign-up-text-field{
    -fx-font-size: 20;
    -fx-border-color: #2E6EB6;
}
.sign-up-text-field-error{
    -fx-font-size: 20;
    -fx-border-color: #FF0000;
}

.add-user-text-field{
    -fx-font-size: 20;
    -fx-border-color: #2E6EB6;
    -fx-font-fill: #000000;
}
.add-user-text-field-error{
    -fx-font-size: 20;
    -fx-border-color: #FF0000;
    -fx-font-fill: #000000;
}




